/* MISC */
/*Colors*/
/*Spacings*/
/*Font-family*/
/*Font-Sizes*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*PARTIALS*/
header {
  background-image: url(../Imagenes/mar.jpg);
  background-size: cover;
  font-weight: 500; }
  header.contenedor .logo-principal {
    text-align: center; }
  header .navegador-boostrap .navbar .container-fluid {
    background-color: #3B3BDB; }
  header.navbar-nav .nav-link {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    justify-content: space-arounds;
    padding: 20px; }
  header.navbar div a {
    color: white;
    font-size: medium; }
  header.collapse ul li a {
    font-family: "Roboto Slab", serif;
    font-weight: 1200; }

footer {
  background-color: #3B3BDB; }
  footer .footer-pag h2 h3 h4 h5 {
    font-size: 15px;
    background-color: #3B3BDB;
    color: white;
    font-size: medium; }
  footer .footer-pag .corp {
    float: right; }

/*VIEWS*/
body {
  background-color: cadetblue;
  font-family: "Roboto Slab", serif;
  font-weight: 200; }
  body .container h2 {
    font-family: "Libre Bodoni", serif;
    font-weight: 600;
    font-weight: bold;
    font-size: 500%;
    margin-bottom: 30px; }
  body p {
    font-family: "Libre Bodoni", serif;
    font-weight: 400; }
  body .box {
    background-image: linear-gradient(to bottom, #c6cfc8, white);
    background-color: #c6cfc8; }
  body .grandecito {
    font-size: 30px; }
  body .centrado {
    text-align: center; }

.widget-1 h3,
.widget-2 h3 {
  font-family: "Libre Bodoni", serif;
  font-weight: 600;
  font-weight: bold;
  font-size: 400%;
  gap: 1.4em; }

.contenedor {
  width: 99%;
  max-width: 1000;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header header header" "container container sidebar" "widget-1 widget-2 sidebar" "carousel-slide carousel-slide sidebar" "footer footer footer"; }

.contenedor > div,
.contenedor .container,
.contenedor .sidebar {
  padding: 20px;
  border-radius: 4px; }

.contenedor .header {
  grid-area: header; }

.contenedor .container {
  grid-area: container; }

.contenedor .sidebar {
  grid-column: 3/4;
  background: #42B881;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: sidebar;
  align-items: center;
  flex-direction: column; }

.contenedor .carousel-slide {
  grid-area: carousel slide;
  height: 500px;
  width: 500px; }

.contenedor .widget-1,
.contenedor .widget-2 {
  background: var(--widget);
  color: #fff;
  height: 500px;
  width: 500px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }

.contenedor .widget-1 {
  grid-area: widget-1; }

.contenedor .widget-2 {
  grid-area: widget-2; }

.contenedor .footer {
  grid-area: footer; }

.sidebar {
  background: repeating-radial-gradient(#42B881, #42B881 2px, white 2px, white 7px);
  margin: 10px 10px 10px 10px; }

.sidebar .box__img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  justify-content: center;
  align-items: center; }

.sidebar h3 {
  font-family: "Libre Bodoni", serif;
  font-size: 5.2em;
  font-weight: 600;
  font-weight: bold; }
