/*Fonts*/
@import url("https://fonts.googleapis.com/css2? family=Libre+Bodoni:ital,wght@1,400;1,600&family=Roboto+Slab:wght@200;400&display=swap");
/* MISC */
/*Colors*/
primary {
  background-color: cadetblue; }

secondary {
  background-color: #3B3BDB; }

sidebar {
  background-color: #42B881; }

widget {
  background-color: #55aBfd; }

text-color {
  background-color: white; }

tabla {
  background-color: aliceblue; }

cards {
  background-color: aquamarine; }

/*Spacings*/
spacing-large {
  padding: 6rem; }

spacing-medium {
  padding: 2.4rem; }

spacing-small {
  padding: 1rem; }

/*Font-family*/
/*Font-Sizes*/
text-large {
  font-size: 5.2em; }

text-medium {
  font-size: 2.4em; }

text-base {
  font-size: 1.6em; }

text-small {
  font-size: 1.4em; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style-type: none; }

html {
  font-size: 62.5%; }

a {
  text-decoration: none; }

.box__img {
  display: flex;
  align-items: center;
  justify-content: space-around; }

/*PARTIALS*/
body {
  background-color: cadetblue; }

header {
  background-image: url(../Imagenes/mar.jpg);
  background-size: cover;
  font-weight: 600;
  font-size: xx-large; }

.contenedor .logo-principal {
  text-align: center;
  justify-content: center; }

.navegador-bootstrap .navbar .container-fluid {
  background-color: #3B3BDB; }

.navbar-nav .nav-link {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  justify-content: space-arounds;
  padding: 20px; }

.navbar div a {
  color: white;
  font-size: medium; }

.collapse ul li a {
  font-family: "Roboto Slab", serif;
  font-weight: 1200; }

footer {
  background-color: #3B3BDB;
  color: white; }

.footer-pag h2 h3 h4 h5 {
  font-size: 15px;
  font-size: medium; }

.corp {
  float: right; }

/*VIEWS*/
body {
  font-family: "Roboto Slab", serif;
  font-weight: 200; }
  body .container h2 {
    font-family: "Libre Bodoni", serif;
    font-weight: 600;
    font-weight: bold;
    font-size: 500%;
    margin-bottom: 30px; }
  body p {
    font-family: "Libre Bodoni", serif;
    font-weight: 400; }
  body .box {
    background-image: linear-gradient(to bottom, #c6cfc8, white);
    background-color: #c6cfc8; }
  body .grandecito {
    font-size: 30px; }
  body .centrado {
    text-align: center; }
  body .widget-1 h3,
  body .widget-2 h3 {
    font-family: "Libre Bodoni", serif;
    font-weight: 600;
    font-weight: bold;
    font-size: 400%; }
  body .contenedor {
    width: 99%;
    max-width: 1000;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "header header header" "container container sidebar" "widget-1 widget-2 sidebar" "carousel-slide carousel-slide sidebar" "footer footer footer"; }
  body .contenedor > div,
  body .contenedor .container,
  body .contenedor .sidebar {
    padding: 20px;
    border-radius: 4px; }
  body .contenedor .header {
    grid-area: header; }
  body .contenedor .container {
    grid-area: container; }
  body .contenedor .sidebar {
    grid-column: 3/4;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: sidebar;
    align-items: center;
    flex-direction: column; }
  body .contenedor .carousel-slide {
    grid-area: carousel slide;
    height: 500px;
    width: 500px; }
  body .contenedor .widget-1,
  body .contenedor .widget-2 {
    color: #fff;
    height: 500px;
    width: 500px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }
  body .contenedor .widget-1 {
    grid-area: widget-1; }
  body .contenedor .widget-2 {
    grid-area: widget-2; }
  body .contenedor .footer {
    grid-area: footer; }
  body .sidebar {
    background: repeating-radial-gradient(#42B881, #42B881 2px, white 2px, white 7px);
    margin: 10px 10px 10px 10px; }
  body .sidebar .box__img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: center;
    height: 400px; }
  body .sidebar h3 {
    font-family: "Libre Bodoni", serif;
    font-weight: 600;
    font-weight: bold; }

.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr); }

.galeria .galeria_card {
  width: 300px;
  border: 1px solid black;
  border-radius: 2px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  background-color: aquamarine; }

.galeria .galeria_card p {
  font-weight: bold;
  font-family: "Roboto Slab", serif;
  font-size: 25px; }

.galeria img {
  width: 100%;
  height: 250px;
  border-radius: 3px; }

.galeria div {
  display: flex;
  justify-content: space-evenly; }

.galeria .galeria_card .btn, .galeria .galeria_card .btn--agregar, .galeria .galeria_card .btn--eliminar {
  width: 150px;
  padding: 10px 12px;
  font-size: 18px;
  margin: 0 auto;
  border: none; }

.galeria .galeria_card .btn--agregar {
  background-color: aqua; }
  .galeria .galeria_card .btn--agregar:hover {
    background-color: aqua; }

.galeria .galeria_card .btn--eliminar {
  color: white;
  background-color: black; }
  .galeria .galeria_card .btn--eliminar:hover {
    background-color: black; }

@media (max-width: 768px) {
  .galeria {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto; } }

@media (max-width: 450px) {
  .galeria {
    grid-template-columns: 1fr;
    grid-template-rows: auto; } }

.carro-de-compra {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-weight: bold;
  font-size: 20px; }

.medidas {
  font-family: var(--font-principal);
  font-weight: bold;
  font-size: 20px; }

.medidas h2 {
  font-size: 1.6em; }

.medidas table {
  background-color: aliceblue; }

.formulario {
  font-size: medium;
  font-family: "Roboto Slab", serif;
  font-weight: 200;
  font-weight: bold; }
