<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Estampados con onda </title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <div class="logo-principal">
            <img src="../Imagenes/Logo1.jpg" alt="logo estampados con onda">
        </div>
        <nav id="menu" class="banner-navegation">
            <ul>
                <li>
                    <a href="../index.html" class="blanquito grandecito">Inicio</a>
                </li>
                <li>
                    <a href="./tienda.html" class="grandecito">Tienda</a>
                </li>
                <li>
                    <a href="./carrodecompras.html" class="grandecito">Carro de compras</a>
                </li>
                <li>
                    <a href="./medidasycolores.html" class="grandecito">Medidas y colores</a>
                </li>
                <li>
                    <a href="./contacto.html" class="grandecito">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- fila de información de mi sitio -->
    <main class="carro-de-compra">
    <section>
        <article>
            <h2> CARRITO>DETALLES DEL PAGO>PEDIDO COMPLETADO </h2>
             <h3> tu carrito esta vacío</h3>
            <h2> Volver a la tienda </h2>
             
        </article>
    <section>
    </main>
     <!-- inicio de footer -->
     <footer id="poleras-con-onda">
		<h2>Correo</h2>
         <h3>estampadoscononda@gmail.com</h3>
		<h4> Contáctanos en nuestras redes sociales </h4>
        <img src="../Iconos/iconosredesociales.jpg" alt="Son imágenes de las redes sociales" width="10%"> 
		<h5 class="corp"> Copyright 2022 © Estampadoscononda</h5>
	</footer>
    

</body>
</html>