<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Estampados con onda </title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <!-- fila de logo + nav -->
 <div class="contenedor justify-content-center">
    <header class="header">
     <div class="logo-principal">
      <img src="../Imagenes/Logo1.jpg" alt="logo estampados con onda">
</div>
     
<!-- Navegador con Bootstrap -->
<div class="contenedor-todo">
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
       <a class="navbar-brand" href="#">Poleras con Onda</a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           <li class="nav-item">
             <a class="nav-link" href="../index.html" class="blanquito grandecito" aria-current="page" href="#">Inicio</a>
           </li>
           <li class="nav-item">
             <a class="nav-link"  href="../views/tienda.html" class="grandecito">Tienda</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="../views/carrodecompras.html" class="grandecito">Carro de compras</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="../views/medidasycolores.html"class="grandecito">Medidas y colores</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="../views/contacto.html" class="grandecito">Contacto</a>
           </li>
           
         </ul>
         <form class="d-flex" role="search">
           <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
           <button class="btn btn-outline-success" type="submit">Buscar</button>
         </form>
       </div>
     </div>
 </nav>
</nav>
</section>
</header>
 
 <!-- cierre de fila logo + nav -->
    <!-- fila de información de mi sitio -->
    <main class="carro-de-compra">
    <section>
        <article>
            <h2> CARRITO>DETALLES DEL PAGO>PEDIDO COMPLETADO </h2>
             <h3> tu carrito esta vacío</h3>
            <h2> Volver a la tienda </h2>
             
        </article>
    <section>
    </main>
</div>

     <!-- inicio de footer -->
     <footer id="poleras-con-onda">
		<h2>Correo</h2>
         <h3>estampadoscononda@gmail.com</h3>
		<h4> Contáctanos en nuestras redes sociales </h4>
        <img src="../Iconos/iconosredesociales.jpg" alt="Son imágenes de las redes sociales" width="10%"> 
		<h5 class="corp"> Copyright 2022 © Estampadoscononda</h5>
	 </footer>
</body>
</html>