<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Estampados con onda| Medidas y colores ropa" </title>
    <meta name="description="content="Estampados con onda.Tablas de medidas y variedad de colores de poleras y polerones estampados">
    <meta name="Keywords" content="ESTAMPADOS VARIADOS,POLERAS,POLERONES,ESTAMPADOS PERSONALIZADOS">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    
    <!-- fila de logo + nav -->
     <div class="contenedor justify-content-center">
        <header class="header">
         <div class="logo-principal">
          <img src="../Imagenes/Logo1.jpg" alt="logo estampados con onda">
     </div>
     <!-- Navegador con Bootstrap -->
     <div class="contenedor-todo">
 <section class="navegador-bootstrap">
   <nav class="navbar navbar-expand-lg bg-light">
         <div class="container-fluid">
           <a class="navbar-brand" href="#">Poleras con Onda</a>
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               <li class="nav-item">
                 <a class="nav-link" href="../index.html" class="blanquito grandecito" aria-current="page" href="#">Inicio</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link"  href="../views/tienda.html" class="grandecito">Tienda</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="../views/carrodecompras.html" class="grandecito">Carro de compras</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="../views/medidasycolores.html"class="grandecito">Medidas y colores</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="../views/contacto.html" class="grandecito">Contacto</a>
               </li>
               
             </ul>
             <form class="d-flex" role="search">
               <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
               <button class="btn btn-outline-success" type="submit">Buscar</button>
             </form>
           </div>
         </div>
     </nav>
   </nav>
 </section>
 </header>
     
 
     <!-- cierre de fila logo + nav -->

    <!-- fila de información de mi sitio -->
    <main>
    <section class="medidas">
    <h2> TABLA DE MEDIDAS Y COLORES </h2>
             <h3> En las siguientes secciones se podrán ver todas las medidas y colores de cada prenda </h3>
               <h4>POLERA MANGA LARGA HOMBRE</h4>
                  <h3> Medidas </h3>
    <table border="1px solidblack" cellspacing="80px" class="tabla-medidas">
        <thead>
            <tr>
                <th>Talla</th>
                <th>Ancho (cm)</th>
                <th>Largo (cm)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>S</td>
                <td>46</td>
                <td>71</td>
            </tr>
            <tr>
                <td>M</td>
                <td>51</td>
                <td>73</td>
            </tr>
            <tr>
                <td>L</td>
                <td>56</td>
                <td>76</td>
            </tr>
            <tr>
                <td>XL</td>
                <td>61</td>
                <td>79</td>
            </tr>
            <tr>
                <td>XXL</td>
                <td>66</td>
                <td>81</td>
            </tr>
            <tr>
                <td>XXXL</td>
                <td>71</td>
                <td>84</td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>

    
</section>
    <section class="medidas">
        <article>
            <h4>POLERA MANGA CORTA HOMBRE</h4> 
             <h3> Medidas </h3>
    <table border="1px solidblack" cellspacing="80px" class="tabla-medidas">
       <thead>
             <tr>
                <th>Talla</th>
                <th>Ancho (cm)</th>
                <th>Largo (cm)</th>
            </tr>
       </thead>
        <tbody>
            <tr>
                <td>S</td>
                <td>46</td>
                <td>71</td>
            </tr>
            <tr>
                <td>M</td>
                <td>51</td>
                <td>73</td>
            </tr>
            <tr>
                <td>L</td>
                <td>56</td>
                <td>76</td>
            </tr>
            <tr>
                <td>XL</td>
                <td>61</td>
                <td>79</td>
            </tr>
            <tr>
                <td>XXL</td>
                <td>66</td>
                <td>81</td>
            </tr>
            <tr>
                <td>XXXL</td>
                <td>71</td>
                <td>84</td>
            </tr>
            </tbody>
            <tfoot></tfoot>
            </table>
        </section>
        <section class="medidas">
            <h4>POLERA MANGA CORTA MUJER CUELLO REDONDO</h4>
             <h3> Medidas </h3>
    <table border="1px solidblack" cellspacing="80px" class="tabla-medidas">
        <thead>
            <tr>
                <th>Talla</th>
                <th>Ancho (cm)</th>
                <th>Largo (cm)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>S</td>
                <td>38</td>
                <td>61</td>
            </tr>
            <tr>
                <td>M</td>
                <td>41</td>
                <td>62</td>
            </tr>
            <tr>
                <td>L</td>
                <td>46</td>
                <td>65</td>
            </tr>
            <tr>
                <td>XL</td>
                <td>48</td>
                <td>66</td>
            </tr>
        </tbody>
        <tfoot></tfoot>
        </table>
        </section>
        <section class="medidas">  
            <h4> POLERA MANGA CORTA JOVEN</h4>
             <h3> Medidas </h3>
    <table border="1px solidblack" cellspacing="80px" class="tabla-medidas">
        <thead>
            <tr>
                <th>Talla</th>
                <th>Ancho (cm)</th>
                <th>Largo (cm)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>10(S)</td>
                <td>27</td>
                <td>37</td>
            </tr>
            <tr>
                <td>12(M)</td>
                <td>30</td>
                <td>39</td>
            </tr>
            <tr>
                <td>14(L)</td>
                <td>32</td>
                <td>42</td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
    </section>
    <section class="medidas">
            <h4>POLERA MANGA CORTA NIÑO</h4>
             <h3> Medidas </h3>
    <table border="1px solidblack" cellspacing="80px" class="tabla-medidas">
        <thead>
            <tr>
                <th>Talla</th>
                <th>Ancho (cm)</th>
                <th>Largo (cm)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2(2T)</td>
                <td>27</td>
                <td>37</td>
            </tr>
            <tr>
                <td>3(3T)</td>
                <td>30</td>
                <td>39</td>
            </tr>
            <tr>
                <td>4(4T)</td>
                <td>32</td>
                <td>42</td>
            </tr>
            <tr>
                <td>6(5T)</td>
                <td>34</td>
                <td>43</td>
            </tr>
            <tr>
                <td>XS</td>
                <td>38</td>
                <td>47</td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
             
    </article>
    </section>
    </main>
</div>
   

     <!-- inicio de footer -->
     <footer id="poleras-con-onda">
		<h2>Correo</h2>
         <h3>estampadoscononda@gmail.com</h3>
		<h4> Contáctanos en nuestras redes sociales </h4>
        <img src="../Iconos/iconosredesociales.jpg" alt="Son imágenes de las redes sociales" width="10%"> 
		<h5 class="corp"> Copyright 2022 © Estampadoscononda</h5>
	</footer>

    

</body>
</html>