<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Estampados con onda </title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <div class="logo-principal">
         <img src="../Imagenes/Logo1.jpg" alt="logo estampados con onda">
        </div>
        <nav id="menu" class="banner-navegation">
            <ul>
                <li>
                    <a href="../index.html" class="blanquito grandecito">Inicio</a>
                </li>
                <li>
                    <a href="./tienda.html" class="grandecito">Tienda</a>
                </li>
                <li>
                    <a href="./carrodecompras.html" class="grandecito">Carro de compras</a>
                </li>
                <li>
                    <a href="./medidasycolores.html" class="grandecito">Medidas y colores</a>
                </li>
                <li>
                    <a href="./contacto.html" class="grandecito">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- fila de información de mi sitio -->
    <main>
    <section class="medidas">
    <h2> TABLA DE MEDIDAS Y COLORES </h2>
             <h3> En las siguientes secciones se podrán ver todas las medidas y colores de cada prenda </h3>
               <h4>POLERA MANGA LARGA HOMBRE</h4>
                  <h3> Medidas </h3>
    <table border="1px solidblack" cellspacing="80px">
        <thead>
            <tr>
                <th>Talla</th>
                <th>Ancho (cm)</th>
                <th>Largo (cm)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>S</td>
                <td>46</td>
                <td>71</td>
            </tr>
            <tr>
                <td>M</td>
                <td>51</td>
                <td>73</td>
            </tr>
            <tr>
                <td>L</td>
                <td>56</td>
                <td>76</td>
            </tr>
            <tr>
                <td>XL</td>
                <td>61</td>
                <td>79</td>
            </tr>
            <tr>
                <td>XXL</td>
                <td>66</td>
                <td>81</td>
            </tr>
            <tr>
                <td>XXXL</td>
                <td>71</td>
                <td>84</td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
</section>
    <section class="medidas">
        <article>
            <h4>POLERA MANGA CORTA HOMBRE</h4> 
             <h3> Medidas </h3>
    <table border="1px solidblack" cellspacing="80px">
       <thead>
             <tr>
                <th>Talla</th>
                <th>Ancho (cm)</th>
                <th>Largo (cm)</th>
            </tr>
       </thead>
        <tbody>
            <tr>
                <td>S</td>
                <td>46</td>
                <td>71</td>
            </tr>
            <tr>
                <td>M</td>
                <td>51</td>
                <td>73</td>
            </tr>
            <tr>
                <td>L</td>
                <td>56</td>
                <td>76</td>
            </tr>
            <tr>
                <td>XL</td>
                <td>61</td>
                <td>79</td>
            </tr>
            <tr>
                <td>XXL</td>
                <td>66</td>
                <td>81</td>
            </tr>
            <tr>
                <td>XXXL</td>
                <td>71</td>
                <td>84</td>
            </tr>
            </tbody>
            <tfoot></tfoot>
            </table>
        </section>
        <section class="medidas">
            <h4>POLERA MANGA CORTA MUJER CUELLO REDONDO</h4>
             <h3> Medidas </h3>
    <table border="1px solidblack" cellspacing="80px">
        <thead>
            <tr>
                <th>Talla</th>
                <th>Ancho (cm)</th>
                <th>Largo (cm)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>S</td>
                <td>38</td>
                <td>61</td>
            </tr>
            <tr>
                <td>M</td>
                <td>41</td>
                <td>62</td>
            </tr>
            <tr>
                <td>L</td>
                <td>46</td>
                <td>65</td>
            </tr>
            <tr>
                <td>XL</td>
                <td>48</td>
                <td>66</td>
            </tr>
        </tbody>
        <tfoot></tfoot>
        </table>
        </section>
        <section class="medidas">  
            <h4> POLERA MANGA CORTA JOVEN</h4>
             <h3> Medidas </h3>
    <table border="1px solidblack" cellspacing="80px">
        <thead>
            <tr>
                <th>Talla</th>
                <th>Ancho (cm)</th>
                <th>Largo (cm)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>10(S)</td>
                <td>27</td>
                <td>37</td>
            </tr>
            <tr>
                <td>12(M)</td>
                <td>30</td>
                <td>39</td>
            </tr>
            <tr>
                <td>14(L)</td>
                <td>32</td>
                <td>42</td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
    </section>
    <section class="medidas">
            <h4>POLERA MANGA CORTA NIÑO</h4>
             <h3> Medidas </h3>
    <table border="1px solidblack" cellspacing="80px">
        <thead>
            <tr>
                <th>Talla</th>
                <th>Ancho (cm)</th>
                <th>Largo (cm)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2(2T)</td>
                <td>27</td>
                <td>37</td>
            </tr>
            <tr>
                <td>3(3T)</td>
                <td>30</td>
                <td>39</td>
            </tr>
            <tr>
                <td>4(4T)</td>
                <td>32</td>
                <td>42</td>
            </tr>
            <tr>
                <td>6(5T)</td>
                <td>34</td>
                <td>43</td>
            </tr>
            <tr>
                <td>XS</td>
                <td>38</td>
                <td>47</td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
             
    </article>
    </section>
    </main>
   

     <!-- inicio de footer -->
     <footer id="poleras-con-onda">
		<h2>Correo</h2>
         <h3>estampadoscononda@gmail.com</h3>
		<h4> Contáctanos en nuestras redes sociales </h4>
        <img src="../Iconos/iconosredesociales.jpg" alt="Son imágenes de las redes sociales" width="10%"> 
		<h5 class="corp"> Copyright 2022 © Estampadoscononda</h5>
	</footer>
    

</body>
</html>