footer {
    background-color: $secondary;
    color: $text-color;
    }
    .footer-pag h2 h3 h4 h5 {
        font-size: 15px;
        background-color: map-get($colors, $secondary);
        font-size: medium;
        }
        .corp {
          float: right;
        }

