
.medidas {
    font-family: var(--font-principal);
    font-weight: bold;
    font-size: 20px;
    }
    .medidas h2{
        font-size: $text-base;
    }
    .medidas table {
    background-color: $tabla;
    }

