.galeria {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    }

    .galeria .galeria_card {
       width: 300px;
       border: 1px solid black;
       border-radius: 2px;
       text-align: center;
       padding: 10px;
       margin: 10px;
       display:inline-block;
       font-family: $font-principal;
       font-weight: bold;
       font-size: 25px;
       background-color: map-get($colors, $cards);
    }

    .galeria img {
        width: 100%;
        height: 250 px;
        border-radius: 3px;
    }

    .galeria div {
    display: flex;
    justify-content: space-evenly;
    }
    
    .galeria .galeria_card .btn {
        width: 150px;
        padding: 10px 12px;
        font-size: 18px;
        margin: 0 auto;
        border: none;
    }
    
    .galeria .galeria_card .btn--agregar {
        @extend .btn;
        background-color: aqua;
        &:hover{
            background-color: aqua;
        }
    }

    .galeria .galeria_card .btn--eliminar {
        @extend .btn;
        color: white;
        background-color: black;
        &:hover{
            background-color: black;
        }
    }
    .galeria .galeria_card:nth-of-type(1) {
       grid-column: 1/1;
       grid-row: 1;
    }

    .galeria .galeria_card:nth-of-type(2) {
       grid-column: 2/2;
       grid-row: 1;
    }

    .galeria .galeria_card:nth-of-type(3) {
       grid-column: 3/3;
       grid-row: 1;
    }

    .galeria .galeria_card:nth-of-type(4) {
       grid-column: 4/4;
       grid-row: 1;
    }

    .galeria .galeria_card:nth-of-type(5) {
       grid-column: 1/1;
       grid-row: 2;
    }

    .galeria .galeria_card:nth-of-type(6) {
    grid-column: 2/2;
    grid-row: 2;
    }

    .galeria .galeria_card:nth-of-type(7) {
    grid-column: 3/3;
    grid-row: 2;
    }

    .galeria .galeria_card:nth-of-type(8) {
    grid-column: 4/4;
    grid-row: 2;
    }

    .galeria .galeria_card:nth-of-type(9) {
    grid-column: 1/1;
    grid-row: 3;
    }
    
    .galeria .galeria_card:nth-of-type(10) {
    grid-column: 2/2;
    grid-row: 3;
    }
    
    .galeria .galeria_card:nth-of-type(11) {
    grid-column: 3/3;
    grid-row: 3;
    }

    .galeria .galeria_card:nth-of-type(12) {
    grid-column: 4/4;
    grid-row: 3;
    }

    .galeria .galeria_card:nth-of-type(13) {
    grid-column: 1/1;
    grid-row: 4;
    }

    .galeria .galeria_card:nth-of-type(14) {
    grid-column: 2/2;
    grid-row: 4;
    }

    .galeria .galeria_card:nth-of-type(15) {
    grid-column: 3/3;
    grid-row: 4;
    }

    .galeria .galeria_card:nth-of-type(16) {
    grid-column: 4/4;
    grid-row: 4;
    }

