    /*Colors*/
    $primary:cadetblue;
    $secondary: #3B3BDB; 
    $sidebar: #42B881;
    $widget: #55aBfd;
    $text-color: white;
    $tabla: aliceblue; 
    $cards: aquamarine;
    
    /*Spacings*/
    $spacing-large: 6rem;
    $spacing-medium: 2.4rem;
    $spacing-small: 1rem;

    /*Font-family*/
    $font-principal:'Roboto Slab', serif;
    $font-title:'Libre Bodoni', serif;

    /*Font-Sizes*/
    $text-large:5.2em;
    $text-medium:2.4em;
    $text-base:1.6em;
    $text-small:1.4em;